@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
body{
    font-family: 'Source Sans Pro', sans-serif;
   margin: 0px;
   padding: 0px;
}
.container{
    margin-bottom: 158px;
}
span{
    color: orangered;
}
/* top banner heading styles  */
header{
    width: 1519px;
    height: 677px;
    background-color: lightblue;
    margin-bottom: 70px;
}
header:hover .top-title{
    color: #28b8e0;
    transform: scaleX(1.5);
}

.top-desing{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    
}
.top-title{
    font-size: 64px;
    width: 485px;
    height: 230px;
    margin-left: 156px;
    margin-bottom: 27px;
    transition: width 5s linear ,height 5s linear, transform 3s;
}
#anchor{
    color: blue;
    background-color: white;
    margin-bottom: 127px;
    text-decoration: none;
    font-size: 16px;
    border: 3px solid gray;
    box-shadow: 0px 0px 40px grey;
    border-radius: 15px;
    padding: 10px 24px;
    
}
.top-title a:hover{
    color: white;
    background-color: blue;
}
.top-banner img{
    width: 556px;
    height: 438px;
    margin-top: 153px;
    margin-left: 124px;
    
}

/* --------------------------------
        section player styles 
------------------------------------ */
.players{
    display: grid;
    grid-template-columns: repeat(3,.1fr);
    grid-column-gap: 30px;
    padding: 15px;
    justify-content: center;
    margin-bottom: 27px;
}
.player img{
    width: 300px;
    height: 256px;
    margin-left: 3px;
    border-radius: 5px;
}
.player{
    box-shadow: 0px 0px 40px grey;
    width: 330px;
    height: 474px;
    border-radius: 5px;
}
p{
    text-align: justify;
    margin-right: 14px;
}
.margin{
    margin-left: 14px;
    margin-top: 14px;
}
/*------------------------
goal side area  
---------------------------- */
.border{
    width: 1094px;
    box-shadow: 0px 0px 40px grey;
    text-align: center;
    margin-left: 216px;
    border-radius: 50px;
    background-color: rgb(112, 146, 160);
}

.top-score{
    margin-bottom: 5px;
    padding-top: 10px;
}
.goal-desing{
    display: grid;
    grid-template-columns: repeat(2,.1fr);
    grid-column-gap: 30px;
    padding: 15px;
    justify-content: center;
    
}

.goals{
    display: flex;
    justify-content: space-around;
    border: 1px solid lightblue;
    background-color: gainsboro;
    border-radius: 25px;
    width: 500px;
    margin-top: 2px;
    padding-left: 5px;
    padding-right: 10px;

}
.goal{
    display: flex;
    align-items: center;
    grid-column-gap: 30px;
    padding-left: 6px;
    padding-right: 10px;
}
.fas{
    color: blue;
}
.county{
    margin-left: 50px;
}
hr{
    margin-top: 44px;
    width: 1270px;
    border: 2px solid gray;
    margin-bottom: 63px;
}
/* ------------------------
        dollars styles add
----------------------------*/
.dollars{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 1063px;
    margin-left: 16px;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    

}
.dollar{
    box-shadow:  0px 0px 40px grey;;
    padding-left: 5px;
    border-radius: 50px;
    background-color: skyblue;
}
/* -------------------------
           footer styles 
   ----------------------- */
footer{
    
    text-align: center;
    margin-bottom: 0px;
}
footer img{
    width: 483px;
    height: 110px;
    margin-bottom: 27px;
}
.fab{
    color: navy;
    height: 32px;
    width: 32px;
    font-size: 30px;
    margin-bottom: 51px;
}
footer h3{
    margin-bottom: 63px;
}
/* media query   */
/* mobile device  */
@media  only screen and (max-width:688px) {
    header{
        background-color: palegreen;
        grid-template-columns: repeat(1,1fr);
    }
}
